@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  background: url("https://images.unsplash.com/photo-1495344517868-8ebaf0a2044a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2105&q=80")
    no-repeat center center/cover;
}

/* Navbar */
.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.navbar a {
  color: #ffffff;
  padding: 0.5rem;
  margin: 0 1rem;
}

/* Search */

.spinner {
  width: 15rem;
  margin: 0 auto;
  display: block;
}

.container {
  max-width: 992px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container .about-section {
  color: #ffffff;
  text-align: center;
}

input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

input[type="submit"],
button {
  font: inherit;
}

.alert {
  background-color: #6e5494;
  color: #ffffff;
  border: none;
}

.clear-btn {
  background-color: #6e5494;
  border: none;
  margin-bottom: 2rem;
}

.clear-btn:hover {
  background-color: #8a3883;
}

.users-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

/* cards */

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
  text-align: center;
  align-items: center;
}

.card-avatar {
  width: 50%;
  border-radius: 50%;
}

.card-text {
  margin: 0.5rem 0 1rem 0;
  font-size: 2rem;
}

.repo-card a {
  font-size: 1.5rem;
}

/* user details */

.user-page-img {
  margin-top: 1rem;
  width: 15rem;
  border-radius: 50%;
}

.profile-name {
  margin-top: 1rem;
}

.github_url_btn {
  margin-bottom: 1rem;
}

/* Media queries */
@media (max-width: 800px) {
  .users-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 568px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
  .users-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
